html {
    transition: 3s;
    background-blend-mode: darken;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    font-size: 18px;

    background: no-repeat ;
    /*url('../images/backgrounds/5.jpg')*/
    color: #ffffff;

    background-size: cover;

}

a {
    color: black;
}
a:hover {
    color: #1e7e34;
}

.page-container {
    margin-top: 3%;
}

.search-section {
    width: 50%;
    margin: 25%;
}

.nav-header {
    margin-right: 2%;
    color: #ffffff;
}
.search-header {
    margin-right: 7%;
    color: #ffffff;
}

.search-box {
    width: 50%;
    padding-left: 4%;
    border-color: ghostwhite;
    height: inherit;
    margin-top: 1%;
}
.person-city {
    margin-right: 40%;
    font-size: 30px;
    text-align: left;
}

.quick-bar__item {
    display: block;
    width: 100px;
    height: 100px;
    background: #fff no-repeat center;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
    background-size: 70%;
    flex-shrink: 0;
    text-align: center;

    border-radius: 50%;
    behavior: url(PIE.htc);
    /*-webkit-transition: margin 0.5s ease-out;*/
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}


.quick-bar__item:hover {
    margin-top: 5px;
}

.quick-bar__itemdiv {
    margin: 5%;
    margin-bottom: 2%;
    margin-top: 1%;}


.youtube {
     background-image: url('../images/logos/youtube.png');
    bookmark-label: "th";

 }
.facebook {
     background-image: url('../images/logos/facebook.png');
 }
.twitter {
     background-image: url('../images/logos/twitter.jpg');
 }
.instagram {
     background-image: url('../images/logos/instagram.png');
 }
.pinterest {
     background-image: url('../images/logos/pinterest.png');
 }
.linkedin {
     background-image: url('../images/logos/linkedin.png');
 }
.amazon {
     background-image: url('../images/logos/amazon.jpg');
 }
.gmail {
     background-image: url('../images/logos/gmail.png');
 }
.googlekeep {
     background-image: url('../images/logos/googlekeep.png');
 }
.spotify {
     background-image: url('../images/logos/spotify.png');
 }

.bookmark {
    background-image: url('../images/logos/bookmark.png');
}

/* start weather widget */
.widget {
    /* end weather widget */
}
.widget.weather-widget {
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100%;
    color: #fff;
    z-index: 100;
}
.widget.weather-widget .widget-body {
    font-size: 12px;
    padding-bottom: 10px;
}
.widget.weather-widget .wi {
    width: 50px;
    height: 50px;
    background-size: cover;
    display: block;
    margin: 0px auto;
    float: left;
    filter: brightness(0) invert(1);
}
.widget.weather-widget .main-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 0px;
}
.widget.weather-widget .main-info .temp-holder {
    position: relative;
    top: -4px;
}
.widget.weather-widget .main-info .temp {
    font-size: 32px;
    font-weight: 400;
    display: inline-block;
    margin-left: 10px;
    margin-top: 7px;
}
.widget.weather-widget .main-info .units {
    vertical-align: top;
    display: inline-block;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}
.widget.weather-widget .main-info .units span {
    display: none;
    margin-top: 7px;
}
.widget.weather-widget .main-info .units span.active {
    display: block;
}

.weather-icon {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 6px;
    background-image: url("../images/weather/temperature.png");
    background-size: cover;
}
.temp-icon {
    background-image: url("../images/weather/temperature.png");
}

.wind-icon {
    background-image: url("../images/weather/wind_direction.png");
}
.humidity-icon {
    background-image: url("../images/weather/humidity.png");
}
.sunrise-icon {
    background-image: url("../images/weather/sunrise.png");
    margin-bottom: 5px;
}
.sunset-icon {
    background-image: url("../images/weather/sunset.png");
}
.pressure-icon {
    background-image: url("../images/weather/pressure.png");
}
.weather-item {
    margin-left: 7%;
    color: #fff;
    vertical-align: middle;
    font-size: 17px;
}
.widget.weather-widget .main-info .weather-item.value {
    color: #fff;
}
.widget.weather-widget .main-info .weather-item.hum:after {
    content: "%";
}



/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

/* ----- v CAN BE DELETED v ----- */
body {
    background-color: #78909C;
}

.demo {
    padding-top: 60px;
    padding-bottom: 110px;
}

.btn-demo {
    margin: 15px;
    padding: 10px 15px;
    border-radius: 0;
    font-size: 16px;
    background-color: #FFFFFF;
}

.btn-demo:focus {
    outline: 0;
}

.demo-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #212121;
    text-align: center;
}

.demo-footer > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

select {
    display:table-row;
    border: none;
    width: 50%;
    height: 25px;
    background: transparent none;
    outline: none;
    overflow:hidden;
    /*opacity: .3;*/
}
select::selection{
    border: transparent;
}
option {
    display: table-cell;
    width: 1%;
    border: none;
    background: transparent;
    outline: none;
    /*box-shadow: 0 0 10px 20px #0056b3 inset;*/
    /*opacity: .2;*/
}
/*option {*/
    /*border: transparent;*/
    /*background: black repeat;*/
/*}*/


